/* Side bar styling */
body.useFancyHighlight .activeSearchResultContainer {
    position: relative;
}
body.useFancyHighlight .activeSearchResultContainer::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 100%;
    height: 100%;
    border-left: 3px solid #2586fc;
}

/* Change style for google page links at the bottom */
body.useFancyHighlight a.activeSearchResultContainer[aria-label*='Page']::before {
    left: 0px;
    border-left: unset;
    border-top: 3px solid #2586fc;
}


/* Arrow styling */
body.useSimpleHighlight .activeSearchResult:before {
    content: '\25BA \00A0';
}

body.useSimpleHighlight .activeSearchResult {
    white-space: nowrap;
    outline: 0;
}

/* Nav bar styleing */
div[role='navigation'] table a:focus {
    text-decoration: underline;
}
